<%- include('partials/header'); -%>
<form>
  <h2>Signup</h2>
  <label for="email">Email</label>
  <input type="text" name="email" required />
  <div class="email error"></div>
  <label for="password" require=""></label>
  <input type="password" name="password" required">
  <div class="password error"></div>
  <button>Signup</button>
</form>
<script>
  const form = document.querySelector('form');
  var emailError = document.querySelector('.email.error');
  var passwordError = document.querySelector('.password.error')

  form.addEventListener('submit', async (e) => {
    e.preventDefault();
    // reset errors
    emailError.textContent = " ";
    passwordError.textContent = " ";
    // fetch form values
    const email = form.email.value;
    const password = form.password.value;

    try {

      const res = await fetch('/signup', {
        method: 'POST',
        body: JSON.stringify({ email, password }),
        headers: { 'Content-Type': 'application/json' }
      });
      const data = await res.json();
      if (data.caughtErrors) {
        emailError.innerHTML = data.caughtErrors.email;
        passwordError.innerHTML = data.caughtErrors.password;

      }
      if (data.user) {
        location.assign('/');
      }
    } catch (error) {
      console.log(error);
    }
  })
</script>
<%- include('partials/footer'); -%>
